<launch>
  <node name="keyword_chatbot_node" pkg="colab_reachy_ros" type="keyword_chatbot_node.py" respawn="true" output="screen">
    <!-- Device Index 5 is the index of the ReSpeaker 4 on Reachy -->
    <!-- <param name="device_index" value="5" /> -->
  </node>

  <node name="speech_listener" pkg="colab_reachy_ros" type="speech_listener.py" respawn="true" output="screen">

  </node>

  <!--<node name="speech_speaker" pkg="colab_reachy_ros" type="speech_speaker.py" respawn="true" output="screen">
  </node> -->


</launch>