<launch>
  <arg name="debug_output" default="true" />

  <node name="right_camera" pkg="cv_camera" type="cv_camera_node">
    <param name="device_id" value="0" />
  </node>

  <node name="mask_detector" pkg="colab_reachy_ros" type ="face_and_mask_detector.py" output="screen">
    <param name="face_model_dir" value="$(find colab_reachy_ros)/config/cv_models/face_detection" />
    <param name="mask_model" value="$(find colab_reachy_ros)/config/cv_models/mask_detector.model" />
    <param name="source" value="right_camera" />
    <param name="debug_output" value="$(arg debug_output)" />
  </node>
</launch>